<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:yandex="http://news.yandex.ru" xmlns:media="http://search.yahoo.com/mrss/" xmlns:turbo="http://turbo.yandex.ru" version="2.0">
    <channel>
        <title>{{ (config.plugins['yandex-turbo'].feed_title ?: site.title)|truncate(240) }}</title>
        <link>{{ uri.rootUrl(true) }}</link>
        <description>{{ config.plugins['yandex-turbo'].feed_description ?: site.metadata.description ?: site.title }}</description>
        <language>{{ site.default_lang }}</language>
        <turbo:cms_plugin>5006F887572400597935F2F856C2AC97</turbo:cms_plugin>
{% set image_effects = config.plugins['yandex-turbo'].image_effects ?? [] %}
{% set image_width   = config.plugins['yandex-turbo'].image_width ?? 100 %}
{% set image_height  = config.plugins['yandex-turbo'].image_height ?? 100 %}
{% set max_content_length = config.plugins['yandex-turbo'].max_content_length ?? 150 %}
{% for item in items %}
        <item turbo="{{ item.active ? 'true' : 'false' }}">
            <link>{{ item.link }}</link>
            <pubDate>{{ item.date }}</pubDate>
            <author>{{ (item.author ?: site.author.name)|truncate(240) }}</author>
            <turbo:content>
                <![CDATA[
                    <header>
                        <h1>{{ (item.title ?: site.title)|truncate(240) }}</h1>
{% if item.media %}
{% set first_image = item.media|first %}
{% if image_effects['resize'] %}
{% set first_image = first_image.resize(image_width,image_height) %}
{% endif %}
{% if image_effects['cropResize'] %}
{% set first_image = first_image.cropResize(image_width,image_height) %}
{% endif %}
{% if image_effects['grayscale'] %}
{% set first_image = first_image.grayscale() %}
{% endif %}
                        <figure>
                            <img src="{{ uri.base }}{{ first_image.url }}" />
                        </figure>
{% endif %}
                    </header>
                    {{ item.content|safe_truncate(max_content_length) }}
                ]]>
            </turbo:content>
        </item>
{% endfor %}

    </channel>
</rss>